html, body, div, h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

body {
	min-width: 930px;
}

#cartesianPlaceholder {
	width: 570px;
	height: 570px;
	display: inline-block;
	float: left;
}

#menu {
	margin: 50px 0 0;
	padding: 50px 20px;
	border-radius: 5px;
	display: inline-block;
	background-color: lightgrey;
}

#vectorInfoBox {
	width: 100%;
	padding: 20px;
	border: 1px solid red;
	display: inline-block;
}

.picker {
	width: 300px;
	height: 40px;
}

.colorBox {
	float: right;
}

.resetButton {
	margin: auto;
	width: 150px;
	padding: 10px;
	text-align: center;
	font-weight: 900;
	color: white;
	background-color: red;
	border: 5px solid #DD0000;
	border-radius: 3px;
	cursor: pointer;
}

.vectorInfo {
	margin: 1px 0;
}

.positionVector
{
	padding: 0 10px 0 0;
	display: inline-block;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.removeVectorButton {
	margin: auto 10px;
	padding: 0 5px;
	border: 2px solid #440000;
	color: white;
	font-weight: 900;
	background-color: red;
	display: inline-block;
	cursor: pointer;
}