html, body, div, h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

body {
	min-width: 930px;
}

#cartesianPlaceholder {
	width: 570px;
	height: 570px;
	display: inline-block;
	float: left;
}

#menu {
	margin: 50px 0 0;
	padding: 50px 20px;
	border-radius: 5px;
	display: inline-block;
	background-color: lightgrey;
}

#vectorInfoBox {
	width: 100%;
	padding: 20px 0;
	display: inline-block;
}

.vectorInfo {
	height: 24px;
}

.vectorInfoWrapper {
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid #555555;
}

.vectorInfoTop {
	width: 100%;
	font-weight: 900;
	margin: 2px 0;
	display: inline-block;
}

.picker {
	width: 300px;
	height: 40px;
}

.colorBox {
	float: right;
}

.resetButton {
	margin: auto;
	width: 150px;
	padding: 10px;
	text-align: center;
	font-weight: 900;
	color: white;
	background-color: red;
	border: 5px solid #DD0000;
	border-radius: 3px;
	cursor: pointer;
}

.infoBoxTopTitles
{
	width: 125px;
	display: inline-block;
	text-align: center;
}

.infoBoxTopPositions {
	width: 72px;
	display: inline-block;
	text-align: center;
}

.infoBoxTopColors {
	width: 140px;
	display: inline-block;
	text-align: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.infoVectorTitle {
	margin: 0 10px 0 20px;
	width: 100px;
	display: inline-block;
}

.infoNumberBox {
	width: 30px;
	text-align: center;
	background-color: white;
	border: 1px solid grey;
	display: inline-block;
}

.infoBoxDivider {
	margin: 0 20px;
	width: 1px;
	height: 1px;
	display: inline-block;
}

.smallDivider {
	margin: 0 2px;
	width: 1px;
	height: 1px;
	display: inline-block;
}

.removeVectorButton {
	padding: 0 5px;
	border: 2px solid #440000;
	color: white;
	font-weight: 900;
	background-color: red;
	display: inline-block;
	cursor: pointer;
}