html, body, div, h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

body {
	min-width: 940px;
}

/* LINKS */

.linkBlock {
	text-align: center;
}
.linkBlock a {
	margin: 10px auto;
	width: 300px;
    height: 50px; 
    color: #002dcb;
    font-size: 20px;
    line-height: 45px;
    text-decoration: none;
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
    background-color: #d1fdff;
    display: inline-block;
}


/* COLOR PICKER*/

.picker {
	width: 325px;
	height: 40px;
}

.colorBox {
	float: right;
}


/* MENU */

#menu {
	padding: 50px 20px;
	border-radius: 5px;
	display: inline-block;
	background-color: lightgrey;
}

.resetButton {
	margin: auto;
	width: 150px;
	padding: 10px;
	text-align: center;
	font-weight: 900;
	color: white;
	background-color: red;
	border: 5px solid #DD0000;
	border-radius: 3px;
	cursor: pointer;
}


/* CARTESIAN*/

#cartesianPlaceholder {
	width: 590px;
	height: 580px;
	display: inline-block;
	float: left;
}


/* CALCULATION BOX*/

#calculationBox {
	margin: 0 0 10px;
	padding: 10px 40px;
	width: calc(100% - 80px);
	height: 72px;
	background-color: lightblue;
	display: inline-block;
}

.vectorWrapper {
	float: left;
}

.leftSquareBracket2d {
	width: 5px;
	height: 70px;
	border: solid black;
	border-width: 1px 0 1px 1px;
	display: inline-block;
}

.rightSquareBracket2d {
	width: 5px;
	height: 70px;
	border: solid black;
	border-width: 1px 1px 1px 0;
	display: inline-block;
}

.numberWrapper2d {
	width: 50px;
	height: 72px;
	display: inline-block;
}

.numberBox {
	margin: 3px 1px;
	width: 46px;
	height: 30px;
	background-color: white;
    border: 1px solid #a9a9a9;
    display: block;
}
.numberBox input {
	width: 44px;
	height: 24px;
	font-size: 18px;
	float: left;
}

.operatorWrapper {
	margin: 10px 35px 0 20px;
	width: 10px;
	height: 50px;
	font-size: 45px;
	font-weight: 900;
	float: left;
}

.drawButton {
    margin: 12px 30px 12px 40px;
	width: 150px;
	padding: 10px;
	text-align: center;
	font-weight: 900;
	color: black;
	background-color: #00ff00;
    border: 5px solid #0a8800;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
}

.errorBox {
	display: inline-block;
	color: red;
}


/* VECTOR INFO BOX*/

#vectorInfoBox {
	width: 100%;
	padding: 20px 0;
	display: inline-block;
}

.vectorInfo {
	height: 24px;
}

.vectorInfoWrapper {
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid #555555;
}

.vectorInfoTop {
	width: 100%;
	font-weight: 900;
	margin: 2px 0;
	display: inline-block;
}

.infoBoxTopTitles
{
	width: 105px;
	display: inline-block;
	margin-left: 20px;
}

.infoBoxTopPositions {
	width: 72px;
	display: inline-block;
	text-align: center;
}

.infoBoxTopColors {
	width: 140px;
	display: inline-block;
	text-align: center;
}

.infoVectorTitle {
	margin: 0 10px 0 20px;
	width: 100px;
	display: inline-block;
}

.infoNumberBox {
	width: 30px;
	text-align: center;
	background-color: #FFF;
	border: 1px solid grey;
	display: inline-block;
	cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.infoBoxDivider {
	margin: 0 20px;
	width: 1px;
	height: 1px;
	display: inline-block;
}

.smallDivider {
	margin: 0 2px;
	width: 1px;
	height: 1px;
	display: inline-block;
}

.removeVectorButton {
	padding: 0 5px;
	border: 2px solid #440000;
	color: white;
	font-weight: 900;
	background-color: red;
	display: inline-block;
	cursor: pointer;
}


/* OTHER */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
